In [1]:
from inmatesearch import *
pd.set_option("display.max_columns",14)

# Use these fields to simply test the code

In [2]:
filepath='sid.csv'
header=None
names=["SID"]
idfield="SID"

savepath=None

# Specify these fields if you want to use your own set of ids
(It is possible that the code fails, since I haven't tested it extensively beyond the example IDs)

In [ ]:
#Enter the full path for your file where the SIDs are stored 
filepath="/path/yourfile.csv"
#Enter the row number of the csv file where column names are stored starting by 0 (i.e. 0 is the first row)
#If your csv file has no column names, enter None (as below)
header=None
#Enter the column names if your file does not have any.
names=["SID"]
#Specify the column names where the SIDs are stored.
idfield="SID"
#specify the full path for the output file ending by ".txt".If you do not wish to save enter None
savepath="/path/output.txt"

In [3]:
table=getInmateInfo(filepath=filepath,header=header,names=names, idfield=idfield,savepath=savepath)

In [8]:
#Prints the output for the first 9 variables and 6 first cases
table[['SID Number',
     'TDCJ Number',
     'Name',
     'Race',
     'Gender',
     'DOB',
     'Maximum Sentence Date',
     'Current Facility',
     'Projected Release Date',]].head(6)

,SID Number,TDCJ Number,Name,Race,Gender,DOB,Maximum Sentence Date,Current Facility,Projected Release Date
0,02948864,01207094,"MARTINEZ,JACK LEE",W,M,1959-01-16,2052-05-22,ALFRED HUGHES,2052-05-22
1,07746033,01552933,"MARTINEZ,JACKSON",H,M,1988-10-07,2048-02-03,DARRINGTON,2048-02-03
2,06158138,01791013,"MARTINEZ,JACOB",H,M,1981-12-02,2018-02-13,DARRINGTON,2018-02-13
3,06403653,01877081,"MARTINEZ,JACOB",H,M,1985-02-14,2017-12-15,MICHAEL,2017-12-15
4,04381375,01262427,"MARTINEZ,JACOB",H,M,1972-12-15,2063-06-13,POLUNSKY,2063-06-13
5,07934320,02030663,"MARTINEZ,JACOB AARON",H,M,1992-11-23,2021-06-02,CLEMENS,2018-02-11